<div class="row m-1">
  @for (product of products; track product.id) {
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card card-hover border-primary">
        <div class="card-body text-center">
          <img [src]="product.image"
              [alt]="product.name"
              class="product-image img-fluid mb-2">
          <h5>{{ product.name }}</h5>
          <p class="price">
            ৳{{ product.price }}
            @if (product.discount) {
              <span class="text-danger text-decoration-line-through">
                ৳{{ product.discount }}
              </span>
            }
            /{{ product.unit }}
          </p>
          <div class="rating mb-2">
            @for (i of product.rating; track $index) {
              <span>⭐</span>
            }
          </div>
          <div class="row d-flex justify-content-center mb-2">
            <button class="btn btn-outline-success me-1 col-5" (click)="orderNow(product)">
              Order Now
            </button>
            <button class="btn btn-outline-primary col-5" (click)="detailsCart(product)">
              Details
            </button>
          </div>
          <button class="btn btn-success w-100" (click)="addToCart(product)">
            🛒 Add to Cart
          </button>
        </div>
      </div>
    </div>
  }
</div>
